<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Download Kubernetes</title>
    <link rel="stylesheet" href="css/main.bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="js/bundle.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <div class="container">
                        <h1 class="title">
                            Download Kubernetes
                        </h1>
                        <h2 class="subtitle">
                            An easier way to get the binaries you need (or a link to them)
                        </h2>
                    </div>
                </div>
                <div class="column has-text-right">
                    <div class="container">
                        <span class="icon is-large my-icon">
                            <a class="has-text-light" href="https://twitter.com/kubernetesio"><i class="fa-3x fab fa-twitter"></i></a>
                        </span>
                        <span class="icon is-large my-icon">
                            <a class="has-text-light" href="http://slack.k8s.io"><i class="fa-3x fab fa-slack"></i></a>
                        </span>
                        <span class="icon is-large my-icon">
                            <a class="has-text-light" href="https://github.com/kubernetes-sigs/downloadkubernetes"><i class="fa-3x fab fa-github"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Operating Systems</p>
                    <div class="buttons has-addons" id="os">
                        {{- range .AllOSes }}
                        <span class="button" data-os="{{.}}">{{.}}</span>
                        {{- end }}
                    </div>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Architectures</p>
                    <div class="buttons has-addons" id="arch">
                        {{- range .AllArch }}
                        <span class="button" data-arch="{{clean .}}">{{.}}</span>
                        {{- end }}
                    </div>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Stable Versions</p>
                    <div class="buttons has-addons" id="version">
                        {{- range .AllVersions }}
                        <span class="button" data-version="{{clean .}}">{{.}}</span>
                        {{- end }}
                    </div>
                </div>
            </div>
        </nav>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Operating System</th>
                    <th>Architecture</th>
                    <th>Download Binary</th>
                    <th>Copy Link</th>
                </tr>
            </thead>
            <tbody>
            {{- range .Binaries }}
                <tr class="{{.Version | clean}} {{.OperatingSystem}} {{.Architecture | clean}} {{.Name}}">
                    <td>{{.Version}}</td>
                    <td>{{.OperatingSystem}}</td>
                    <td>{{.Architecture}}</td>
                    <td>
                        <span title="download">
                            <a href="https://{{.Link}}">{{.Name}}</a>
                        </span>
                    </td>
                    <td>
                        <span class="icon">
                            <i class="fa fa-copy"></i>
                        </span>
                        <span title="copy to clipboard">
                            <a class="copy" href="https://{{.Link}}">{{.Link}}</a>
                            (<a class="copy" href="https://{{.Link}}.sha256">checksum</a>)
                        </span>
                    </td>
                </tr>
            {{- end }}
            </tbody>
        </table>
    </section>
    <footer class="footer has-background-primary">
        <div class="columns">
            <div class="column is-3 is-flex is-justify-content-center">
                <ul class="is-inline is-marginless">
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="User mailing list" aria-label="User mailing list">
                        <a class="has-text-white" target="_blank" href="https://discuss.kubernetes.io">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="Twitter" aria-label="Twitter">
                        <a class="has-text-white" target="_blank" href="https://twitter.com/kubernetesio">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="Calendar" aria-label="Calendar">
                        <a class="has-text-white" target="_blank" href="https://calendar.google.com/calendar/embed?src=calendar%40kubernetes.io">
                            <i class="fas fa-calendar-alt"></i>
                        </a>
                    </li>
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="Youtube" aria-label="Youtube">
                        <a class="has-text-white" target="_blank" href="https://youtube.com/kubernetescommunity">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column is-6">
                <div class="has-text-centered">
                <small class="has-text-white is-inline-block">© {{.Year}} The Kubernetes Authors | Documentation Distributed under <a href="https://git.k8s.io/website/LICENSE" class="has-text-white">CC BY 4.0</a></small>
                </br>
                <small class="has-text-white">Copyright © {{.Year}} The Linux Foundation ®. All
                    rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of
                    trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage" class="has-text-white">Trademark Usage page</a></small>
                <br>
                <small class="has-text-white">ICP license: 京ICP备17074266号-3</small>
                </div>
            </div>
            <div class="column is-3 has-text-right has-text-centered-mobile is-flex-sm justify-content-sm-end">
                <ul class="is-inline is-marginless">
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="GitHub" aria-label="GitHub">
                        <a class="has-text-white" target="_blank" href="https://github.com/kubernetes/kubernetes">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="Slack" aria-label="Slack">
                        <a class="has-text-white" target="_blank" href="https://slack.k8s.io">
                            <i class="fab fa-slack"></i>
                        </a>
                    </li>
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="Contribute" aria-label="Contribute">
                        <a class="has-text-white" target="_blank" href="https://git.k8s.io/community/contributors/guide">
                            <i class="fas fa-edit"></i>
                        </a>
                    </li>
                    <li class="is-inline-block mx-2 is-size-3" data-tooltip="Stack Overflow" aria-label="Stack Overflow">
                        <a class="has-text-white" target="_blank" href="https://stackoverflow.com/questions/tagged/kubernetes">
                            <i class="fab fa-stack-overflow"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142101933-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142101933-1');
</script>

</html>


