@charset "utf-8";

$kubernetes: hsl(219, 76%, 55%);
$primary: $kubernetes;

@import "~bulma/bulma";

.figure-center {
    margin: auto;
}

.os-hide, .version-hide, .arch-hide, .bin-hide {
    display: none !important;
}