name: Update Index

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'

permissions: {}

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    if: github.repository == 'kubernetes-sigs/downloadkubernetes'

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.25'
          check-latest: true
          cache: false

      - name: Update index
        run: make update-index

      - name: Check workspace
        id: create_pr
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            echo "create_pr=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        if: ${{ steps.create_pr.outputs.create_pr == 'true' }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: update index
          title: 'Update index'
          body: >
            Update index
          labels: ok-to-test, feature, automated pr
          branch-suffix: timestamp
          branch: update-index
          delete-branch: true
